:root {
  --color-background: #ffffff;
  --color-text: #111111;

  --color-main: hotpink;
  --color-accent: rebeccapurple;

  --color-light-grey: #cccccc;
  --color-dark-grey: #363636;

  --color-ok: #43a047;
  --color-warn: #3949ab;
  --color-fail: #e53935;
}