:root {
  --color-background: #ffffff;
  --color-off-background: #f2f2f2;
  --color-text: #111111;

  --color-main: hotpink;
  --color-accent: lime;

  --color-light-grey: #cccccc;
  --color-dark-grey: #363636;

  --color-ok: #43a047;
  --color-warn: #3949ab;
  --color-fail: #e53935;

  @media (prefers-color-scheme: dark) {
    --color-background: #333333;
    --color-off-background: #262626;
    --color-text: #ffffff;
  }
}