@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Source+Sans+Pro&display=swap');
@import '@/../node_modules/normalize.css/normalize.css';
@import './spacing';
@import './colors';
@import './typography';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;

  background-color: var(--color-background);
  color: var(--color-text);

  @include body-font;
  font-size: 16px;
}

.h1,
.h2,
.h3,
.h4 {
  @include header-font;
  margin: unset;
  padding: unset;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.25rem;
}

.h3 {
  font-size: 1rem;
}

.h4 {
  font-size: 0.75rem;
}

.p {
  @include body-font;
  font-size: 1rem;
}

input[type='number'] {
  -moz-appearence: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
    -webkit-appearence: none;
    margin: 0;
  }
}
