// External
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Source+Sans+Pro&display=swap');
@import '@/../node_modules/normalize.css/normalize.css';

// Vars/Mixins
@import './spacing';
@import './colors';
@import './typography';

// Styles
@import './blocks';
@import './forms';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.h1,
.h2,
.h3,
.h4 {
  @include header-font;
  margin: unset;
  padding: unset;
}

.h1 {
  font-size: 1.5rem;
}

.h2 {
  font-size: 1.25rem;
}

.h3 {
  font-size: 1rem;
}

.h4 {
  font-size: 0.75rem;
}

.p {
  @include body-font;
  font-size: 1rem;
}


.button {
  @include header-font;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 1rem 2rem;

  color: var(--color-text);
  background-color: var(--color-off-background);
  border: unset;

  cursor: pointer;

  &--small {
    padding: 0.5rem 1rem;
  }
}
