html,
body {
  width: 100%;

  background-color: var(--color-background);
  color: var(--color-text);

  @include body-font;
  font-size: 16px;
}

.block {
  border: var(--border);

  &__title {
    width: 100%;
    text-align: center;
    padding: var(--padding-form);
    background-color: var(--color-dark-background);
    color: #fff;
  }
}

.section-spacer {
  width: 100%;
  padding: var(--padding-form);
  border-top: var(--border);
}

.buttons-container {
  margin-top: var(--padding-form);
  display: flex;
  justify-content: flex-end;
}